/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    max-width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

:root {
  --grey: #e5e5e5;
  --violetlight: #48418e;
  --violetdark: #25133d;
  --white:#FFFFFF;
}

/*menu*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  flex: 
}

header {
text-align: center;
}

.logo {
  font-weight: 700;
  font-size: 1rem;
}

.polozka,
.logo {
  color: var(--violetlight);
  margin: 0;
  padding: 1rem;
  width: 50%;
}

header li:hover {
  background-color: var(--violetlight);
  color: var(--white);
  margin-left: -1rem;
}

/*banner s tlačítky*/

.kontejner {
  background-image: url(images/pozadi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--violetdark);
  padding: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.kontejner img {
  display: none;
}

h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.popis {
  color: var(--white);
  font-weight: 300;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.download,
.info {
  color: var(--white);
  padding: 1rem;
  border: 1px solid var(--white);
  border-radius: 12px;
  width: 250px;
}

.download {
background-color: var(--violetlight);
margin-bottom: 1rem;
}

.download:hover {
background: none;
}

.info {
background: none;
}

.info:hover {
  background-color:var(--violetlight);
}

/*část s ikonami*/

.ikony {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ikony p {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ikony img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: var(--violetlight);
  text-align: center;
}

/*zápatí*/

footer {
  padding: 0.1rem;
  color: var(--white);
  background-color: var(--violetdark);
}

footer p {
  margin-left:1rem;
}

/*tablet*/
@media screen and (min-width: 480px) {

/*menu*/
header ul {
  display: inline-flex;
  flex-wrap: nowrap;
  
  }

header {
  text-align: left;
  margin-left: 1rem;
}

/*banner s tlačítky*/

.kontejner {
  align-items: flex-start;
}

h1 {
  font-size: 4rem;
}

.popis {
  max-width: 700px;
  font-size: 2.2rem;
}

.buttons {
 flex-direction: row;
}

.download,
.info {
  width: 200px;
}

.download {
 margin-right: 2rem; 
 margin-bottom: 0;
}

.ikony {
flex-direction: row;
}

/*část s ikonami*/

.ikony p {
  margin-bottom: 2rem;
}

.ikona {
  display: flex;
  flex-direction: column;
}

.ikona_nadpis {
  order: 1;
}

.obrazek {
order: 0;
margin-top: 2rem;
}

.ikona p {
  order: 2; 
}

/*zápatí*/
footer {
  text-align: center;
}

}

/*desktop*/
@media screen and (min-width: 860px){

  .logo,
  .polozka {
    min-width: 160px;
  }

.kontejner {
  position: relative;
  padding-top: 0;
}

 .kontejner img {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
 }

 .popis {
  max-width: 450px;
 }

}